#title {
    background-color: #ff4c68;


}

.container-fluid {

    padding: 3% 15%;

}

#title {

    color: #fff;

}

body {

    font-family: 'Montserrat-black';

}


h1 {
    font-family: 'Montserrat-black';
    font-weight: bold;
    font-size: 4rem;
    line-height: 1.5;
}

h3 {
    font-weight: bold;
    font-family: 'Montserrat-black';

}

.navbar-brand {

    font-family: 'ubuntu';
    font-size: 3rem;
    font-weight: bold;

}

.nav-item {
    padding: 0 18px;
    font-size: 1.5rem;
    font-weight: bolder;

}

.navbar {

    padding-bottom: 5rem;
}

.download-button {

    margin: 0% 5% 0% 0%;
}

.title-img {
    margin-left: 10%;
    width: 60%;
    transform: rotate(25deg);
    position: absolute;

}

#features {
    padding: 4% 7%;
    background-color: white;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 7%;
}

.icon {
    color: #ff4c68;
}

.icon:hover {

    color: pink;
}

#testimonials {
    background-color: #ff4c68;
    text-align: center;
    padding: 10% 15%;


    font-family: 'Montserrat-black';
    color: #fff;
    font-weight: 700;

}

#press {
    text-align: center;
    background-color: #ff4c68;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.press-logo {
    width: 15%;
    margin: 2%
}

.testimonial-image {
    margin-top: 5%;

    border-radius: 100%;
    width: 10%;
}

.carousel-item {
    padding: 0% 20%;
}

.card-btn {
    padding: 5px 15%;

}

#pricing {
    text-align: center;
    padding: 3% 15%;
}

@media (max-width:1028px) {
    #title {
        text-align: center;
    }

    .title-img {
        position: static;
        transform: rotate(0);

    }
}

#cta {

    background-color: #ff4c68;
    text-align: center;
    padding: 10% 10%;
    font-family: 'Montserrat-black';



}
.h-3{
    font-size: 4rem;
    color: white;
}
#footer{
   
    padding: 5px;
    text-align: center;
    margin:0 0 2% 0;
}
.f-i{
    margin:0 0 0 15px;
}